.magic-ball-container {
    
    %ball-shared {
        align-items: center;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 50%;
    }

    .ball {
        @extend %ball-shared;
        background: $black;
        box-shadow: 15px 20px 60px rgba(255, 255, 255, 0.1);
        cursor: pointer;
        height: $three-hundred;
        position: relative;
        width: $three-hundred;
        flex-direction: column;

        .ball-answer-container {
            @extend %ball-shared;
            background: radial-gradient( ellipse at center, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 0) 100%);
            border: 5px solid #ccc;
            height: 70%;
            width: 70%;

            &:hover {
                opacity: 0.75;
            }

            .advice {
                animation: 1s fadeIn;
                animation-fill-mode: forwards;
                visibility: hidden;
            }

            @keyframes fadeIn {
                50% {
                  visibility: hidden;
                }
                100% {
                  visibility: visible;
                }
              }
          }

          .error{
              border-color: $red;
          }


          
      }


}